.footer{
    background-color: rgb(245,242,233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}
@media (min-width:325px) and (max-width:750px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
      padding: 15px 10px;

    }
}